<a href="https://colab.research.google.com/github/sutriyanii/class-objek/blob/main/Copy_of_TugasEnkapsulasi1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Karyawan:
  def __init__(self, nama, gaji):
    #Deklarasi dan inisialisai variabel privat untuk nama
    self.__nama = nama
    #Deklarasi dan inisialisai variabel privat untuk gaji
    self.__gaji = gaji

  # Fungsi untuk mengakses nama
  def get_nama(self):
    return self.__nama

  # Fungsi untuk mengubah nama
  def set_nama(self, nama):
    self.__nama = nama

  # Fungsi untuk mengakses gaji
  def get_gaji(self):
    #lengkapi
    return self._gaji

  # Fungsi untuk mengubah gaji
  def set_gaji(self, gaji):
    #lengkapi
    if gaji > 6000000:
      self._gaji = 5000000
    elif gaji < 5000000:
      self._gaji = 4000000
    else:
      self._gaji = gaji

In [8]:
# Membuat objek Karyawan dengan nama Ahmad dengan gaji 4000000
karyawan1 = Karyawan('Ahmad', 4000000)

# Mengakses/menampilkan nama dan gaji menggunakan fungsi
print(karyawan1.get_nama())

# Mengubah nama menjadi nama anda masing-masing dan gaji bebas menggunakan fungsi
karyawan1.set_nama('Sutriyani')
karyawan1.set_gaji(3000000)


# Mengakses/menampilkan nama dan gaji setelah diubah
print('Karyawan Bernama', karyawan1.get_nama(),'dan memiliki rata-rata sebesar Rp', karyawan1.get_gaji())

Ahmad
Karyawan Bernama Sutriyani dan memiliki rata-rata sebesar Rp 4000000